<!-- products-->
<div ><input type="text" class="form-control" placeholder="Search products by Name" [(ngModel)]="filterValue"></div>
<p>{{filterValue}}</p>
<div class="products">
  <h1>Products</h1>
  <div class="container" *ngIf="products">
    <div class="item-p" *ngFor="let product of products | filter:filterValue:'name'">
      <div>
      <img src="assets/img/{{product.img}}"></div>
      <p>Цена:${{product.price}}</p>
      <p>
        <a [routerLink]="['/system/products',product.id]">{{product.name}}</a>
      </p>
    </div>

  </div>
</div>
<!-- products-->
