<div class="container contact
">
  <div class="d-con-2">
    <form>
      <table>
        <tr>
          <td>
            <input type="text" name="name" placeholder="Your name*">
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" name="mail" placeholder="Your mail*">
          </td>
        </tr>
        <tr>
          <td>
            <textarea name="text">Your message*</textarea>
          </td>
        </tr>
        <tr>
          <td>
            <button name="send" type="submit">Send Message</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
